{
  "openapi": "3.0.3",
  "info": {
    "title": "Mawsool Middleware API",
    "description": "Unified Search Intelligence API for B2B Profiles and Companies. Access global data and MENA-specific records through a single interface.",
    "version": "1.0.0",
    "contact": {
      "name": "Mawsool Support",
      "email": "Info@mawsool.tech",
      "url": "https://mawsool.tech"
    }
  },
  "servers": [
    {
      "url": "https://coolsearch.mawsool.tech",
      "description": "Mawsool Middleware API"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Your private Mawsool API key. Contact Info@mawsool.tech to obtain one."
      }
    },
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["people", "companies"],
            "default": "people",
            "description": "The type of search to perform."
          },
          "page": {
            "type": "integer",
            "default": 1,
            "minimum": 1,
            "maximum": 15
          },
          "limit": {
            "type": "integer",
            "default": 10,
            "maximum": 50
          },
          "filters": {
            "$ref": "#/components/schemas/SearchFilters"
          }
        },
        "required": ["filters"]
      },
      "SearchFilters": {
        "type": "object",
        "properties": {
          "keywords": { "type": "string", "description": "Global keyword search across names, titles, and descriptions." },
          "first_name": { "type": "string" },
          "last_name": { "type": "string" },
          "job_title": { "$ref": "#/components/schemas/FilterObject" },
          "company_name": { "$ref": "#/components/schemas/FilterObject" },
          "industry": { "$ref": "#/components/schemas/FilterObject" },
          "location": { "$ref": "#/components/schemas/FilterObject", "description": "Country names (e.g., 'Saudi Arabia', 'United States')." },
          "city": { "$ref": "#/components/schemas/FilterObject" },
          "company_headcount": { "$ref": "#/components/schemas/FilterObject", "description": "Ranges like '11-50', '501-1000'." },
          "revenue": { "$ref": "#/components/schemas/FilterObject" },
          "seniority": { "$ref": "#/components/schemas/FilterObject" },
          "function": { "$ref": "#/components/schemas/FilterObject" },
          "skills": { "$ref": "#/components/schemas/FilterObject" },
          "language": { "$ref": "#/components/schemas/FilterObject" },
          "school": { "$ref": "#/components/schemas/FilterObject" },
          "experience": { "$ref": "#/components/schemas/FilterObject", "description": "Total years of experience." },
          "past_company": { "$ref": "#/components/schemas/FilterObject", "description": "Past company names." },
          "past_role": { "$ref": "#/components/schemas/FilterObject", "description": "Past job titles/roles." },
          "behavioral_keywords": { 
            "type": "array", 
            "items": { "type": "string" }, 
            "description": "Specific keywords indicating intent or behavior. All keywords are strictly matched using an AND condition." 
          },
          "exclude_public_ids": { 
            "type": "array", 
            "items": { "type": "string" }, 
            "description": "List of LinkedIn public IDs to explicitly exclude from the search results." 
          }
        }
      },
      "FilterObject": {
        "type": "object",
        "properties": {
          "include": {
            "type": "array",
            "items": { "type": "string" }
          },
          "exclude": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": { "type": "object" }
          },
          "total": {
            "type": "string",
            "description": "Formatted total results count (e.g., '~5K', '~1.2M')."
          },
          "paging": {
            "type": "object",
            "properties": {
              "page": { "type": "integer" },
              "limit": { "type": "integer" },
              "total_count": { "type": "integer", "description": "Exact numeric total." }
            }
          },
          "_source": {
            "type": "string",
            "enum": ["MENA", "Global"]
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/search": {
      "post": {
        "summary": "Unified Search",
        "description": "Perform targeted searches for B2B profiles or companies with advanced filtering.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "401": { "description": "Authentication failed" },
          "429": { "description": "Rate limit exceeded" }
        }
      }
    },
    "/search/cities/suggest": {
      "get": {
        "summary": "City Autocomplete",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Partial city name (e.g., 'Riy')"
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching cities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "count": { "type": "integer" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/companies/suggest": {
      "get": {
        "summary": "Company Autocomplete",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Partial company name or domain"
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching companies"
          }
        }
      }
    },
    "/search/companies/similar/{publicId}": {
      "get": {
        "summary": "Find Similar Companies",
        "parameters": [
          {
            "name": "publicId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The unique ID of the company (e.g., 'aramco')"
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of similar companies"
          }
        }
      }
    }
  }
}
